[screws_tilt_adjust]
horizontal_move_z: 10
screw1: 57,196
screw1_name: back left
screw2: 227,196
screw2_name: back right
screw3: 227,24
screw3_name: front right
screw4: 57,24
screw4_name: front left
speed: 50
screw_thread: CW-M4
# ======================================================================
[gcode_macro screws_tilt_adjust] 
gcode:
    {% set travel_speed = printer["gcode_macro GlobalVariables"].travel_speed %}
    {% set home_x = printer["gcode_macro GlobalVariables"].home_x %}
    {% set probe_x_offset = printer["gcode_macro GlobalVariables"].probe_x_offset %}
    {% set BED_TEMP = params.BED_TEMP|default(100)|float %}

    # Start bed heating and wait
    M117 Waiting for bed temperature...
    M140 S{BED_TEMP}
    CG28
    G4 P15000
    M190 S{BED_TEMP}
    SCREWS_TILT_CALCULATE samples=3
    G1 X{ home_x - probe_x_offset } Y220 Z50 F{ travel_speed }
# ======================================================================
[gcode_macro CG28]
gcode:
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
    G28
    {% endif %}
# ======================================================================
[gcode_macro _lights_on]
gcode:
    SET_PIN PIN=LIGHTS VALUE=1.0
# ======================================================================
[gcode_macro _lights_off]
gcode:
    SET_PIN PIN=LIGHTS VALUE=0.0
# ======================================================================
[gcode_macro DISABLE_MOTORS]
gcode:
    M18
# ======================================================================
[gcode_macro Show_off]
gcode: 
    G4 P10000
    LIGHTS_ON
    G28
    Park_toolhead
    G4 P2000
    LIGHTS_OFF
# ======================================================================
[gcode_macro change_filament]
gcode:
    {% set X =              55      %}
    {% set Y =              -15     %}
    {% set Z =              75      %}
    {% set UNLOAD_DIST =    -100    %}
    {% set LOAD_DIST =      150     %}
    {% set extruderTemp = params.EXTRUDER_TEMP|default(230)|float %}

    M104 S{extruderTemp}        #set nozzle temperature
    
    #Home if the toolhead doesn't know its position
    {% if printer.toolhead.homed_axes != 'xyz' %}
		G28
	{% endif %}

    G0 X{X} Y{Y} Z{Z}           #move to area where you can easily load filament
    M109 S{extruderTemp}        #wait for nozzle temperature
    M83                         #relative positioning on extruder
    G0 E15 F400                 #extrude filament to get better blob on end
    G0 E{UNLOAD_DIST} F1000     #unload filament
    G4 P15000                   #wait for filament change 30 seconds
    RESPOND PREFIX= MSG="15 seconds left"
    G4 P15000                   #continue waiting
    G92 E0                      #reset extruder
    M83                         #relative positioning on extruder    
    G0 E{LOAD_DIST} F400        #load filament
    G92 E0                      #reset extruder
# ======================================================================
[gcode_macro clean_nozzle]
gcode:
    # settings
    {% set nozzle = {
      'X'     : 55,       # X coordinate
      'Y'     : -15,      # Y coordinate
      'Z'     : 150,      # Z coordinate
      'Temp'  : params.EXTRUDER_TEMP|default(240)|float,
    } %}

    M104 S{nozzle.Temp}                     #set nozzle temperature
    
    #Home if the toolhead doesn't know its position
    {% if printer.toolhead.homed_axes != 'xyz' %}
		G28
	{% endif %}

    G0 X{nozzle.X} Y{nozzle.Y} Z{nozzle.Z}  #move to area where you can easily clean the nozzle
    M109 S{nozzle.Temp}                     #wait for nozzle temperature
# ======================================================================
